body {
font-family: Arial;
text-align: center;
background: #111;
color: white;
}

.grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap: 20px;
padding: 20px;
}

.card {
background: #222;
padding: 20px;
border-radius: 10px;
}

button {
background: gold;
border: none;
padding: 10px;
cursor: pointer;
}